---
console.log('javascript')
---


<div class="flex items-center justify-center">
    <img src="/images/Profile.jpg"  class="rounded-full object-cover w-32 h-32 mr-4"></img>
    <h1 class="text-6xl text-white">Hola mi nombre es <span class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent">Pablo</span></h1>
</div>

